*{
    margin: 0px;
    padding: 0px;

}
.menu-container{
    background-color: rgb(32, 30, 30);
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    
}

.logo-photo{
    width: 80px;
    margin-top: 10px;
}
.menus{
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 10px;
}
.menu{
    margin: 10px;
    padding: 10px;
}
.menu:hover{
    color: blue;
    cursor: pointer;
}


.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url("./universe.jpg");
    color: white;

}

.header{
    font-size: 40px;
}
.description{
    margin: 10px 0px;
}
.programmerpic{
    width: 500px;
}

.btn{
    color: rgb(163, 143, 143);
    background-color: rgb(129, 25, 25) ;
    padding: 7px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 10px;
    
}